include wagtail_opengraph_image_generator/templates/wagtail_opengraph_image_generator/opengraph_tab.html
include wagtail_opengraph_image_generator/static/wagtail_opengraph_image_generator/fade_black.png
include wagtail_opengraph_image_generator/static/wagtail_opengraph_image_generator/fade_white.png
include wagtail_opengraph_image_generator/static/wagtail_opengraph_image_generator/scripts.js
include wagtail_opengraph_image_generator/static/wagtail_opengraph_image_generator/fonts/opensans-bold.ttf
include wagtail_opengraph_image_generator/static/wagtail_opengraph_image_generator/fonts/opensans-regular.ttf
